/*<=validation summary styles>*/

.validation-summary-box {
  color: white;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.validation-summary-title {
}

.validation-summary-box ul {
  list-style: decimal;
}

.validation-summary-box li {
  color: #c93d3d;
  padding: 7px;
}

.validation-summary-title h4{
  font-size: 1.2em;
  margin-left:10px;
}

.summaryTitle h4 {
  font-size: 1.2em;
}

.summaryTitle {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #E8705B;
}
/*<#validation summary styles>*/

/*<=validation styles>*/
.validation-form-style input.ng-invalid {
  background-color:#FFD0CB;
}

.validation-form-style input.ng-valid.ng-dirty {
  background-color:#E1FFF0;
}

.validation-form-style select.ng-invalid {
  background-color:#FFD0CB;
}

.validation-form-style select.ng-valid.ng-dirty {
  background-color:#E1FFF0;
}
/*<#validation styles>*/

/*<=voffset>*/

.voffset {
  margin-top: 2px;
}

.voffset1 {
  margin-top: 5px;
}

.voffset2 {
  margin-top: 10px;
}

.voffset3 {
  margin-top: 15px;
}

.voffset4 {
  margin-top: 30px;
}

.voffset5 {
  margin-top: 40px;
}

.voffset6 {
  margin-top: 60px;
}

.voffset7 {
  margin-top: 80px;
}

.voffset8 {
  margin-top: 100px;
}

.voffset9 {
  margin-top: 150px;
}

/*<#voffset>*/
