<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="description" content="ngValidationSummary : Angular directive for providing a validation summary to angular based forms." />
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  

  <title>lc-validation-summary</title>
</head>

<body>

  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/Lemoncode/lc-validation-summary">View on GitHub</a>

      <h1 id="project_title">lc-validation-summary</h1>
      <h2 id="project_tagline">
        Angular directive for providing a validation summary to angular based forms.
      </h2>

      <section id="downloads">
        <a class="zip_download_link" href="https://github.com/Lemoncode/lc-validation-summary/zipball/master">Download this project as a .zip file</a>
        <a class="tar_download_link" href="https://github.com/Lemoncode/lc-validation-summary/tarball/master">Download this project as a tar.gz file</a>
      </section>
    </header>
  </div>

  
  <div id="main_content_wrap" class="outer">

  <!--=GETTIN STARTED -->
    <section id="getting_started" class="inner"><br><br>
    <img class="inner" src="images/screenshot2.PNG"/>
    <h2>Distribution streams</h2>
      <!-- <h6>Get the component</h6> -->
      You can download the source code folder or install this component through bower.
      <h6>Download</h6>
      <a href="https://github.com/Lemoncode/lc-validation-summary/zipball/master">Download</a>, unzip the source code folder and add the build files to your project.
      
      <h6>Install with Bower</h6>
      Install and use lc-validation-summary using <a href="http://bower.io/">Bower</a>
      <pre class="prettyprintt">$ bower install lc-validation-summary</pre>
      <h2>Dependencies</h2>
      <ul><li>AngularJS</li></ul>
      <h2>Getting started</h2>
      <p>
       <ol>
        <li>Add references to <a href="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js">AngularJS</a> and <a href="https://github.com/Lemoncode/lc-validation-summary">lc-validation-summary</a>'s js and css files</li>
        <li>Where you declare your app module, add lc-validation-summary:</li>
        <pre class="prettyprint">angular.module('myApp',['lc-validation-summary']);</pre>
        <li>Wrap your html form with the directive <code>lc-validations-container</code>:</li>
          <pre class="prettyprint no_padding">
&ltdiv lc-validations-container&gt
  &ltform name="userForm"&gt
    &ltlabel for="userName"&gtName:&lt/label&gt
    &ltinput name="userName"
           type="text"
           ng-model="model.name"/&gt
  &lt/form&gt
&lt/div&gt</pre>
<li>Now, each input in the form you want to validate must contain a <code>lc-validation-bubble</code> wich will notify the non-passing validations to the <code>lc-validations-container</code>. Then add one of the <a href="#supportedValidations">default supported validations </a> or <a href="#customValidations">add your custom validation</a> (in this example we use <code>ng-required</code>) and define a <code>validation-friendly-name</code> to show in the view</li>
        <pre class="prettyprint">
&ltdiv lc-validations-container&gt
  &ltform name="userForm"&gt
    &ltlabel for="userName"&gtName:&lt/label&gt
    &ltinput name="userName"
           type="text"
           ng-model="model.name"
           ng-required="true"
           lc-validation-bubble=""
           validation-friendly-name="User Name" /&gt
  &lt/form&gt
&lt/div&gt</pre>
<table>
<strong>Note:</strong> Don't miss adding the <strong>name</strong> attribute to the &ltform&gt and each of your &ltinput&gt elements.
</table>
        <li>In your html file, within the controller where you want to use lcValidationSummary, add a div element with the<code>lc-validation-summary</code> directive. This div will show the validation results to the user interface :</li>
        <pre class="prettyprint">&ltdiv lc-validation-summary=""&gt&lt/div&gt</pre>
       </ol>
       
       <p>
          And we're done! Now the validation summary will notify the user when the input is empty.This is the final code and result:
          <iframe style="border: 1px solid #999;width: 100%; height: 290px" 
                  src="http://embed.plnkr.co/jMOCEe?t=readme" 
                  frameborder="0"
                  allowfullscreen="allowfullscreen">
                  Loading plunk...
          </iframe>
        </p>

        <p>
        In this simple tutorial, the validation message "this field is mandatory", is the associated message to the angular ng-required directive.
        Check out more advanced samples to see how to set your <strong> custom messages </strong> and <strong> custom directives
        </strong>.
       </p>
       

    </section>
    <section class="inner">
    <h2>Default values</h2>
      <h3 id="supportedValidations"> Default supported Validations</h3>
          The default supported validations contained in <code>lcValidationProvider</code> and their default custom error messages are:
          <br><br>

          <table>
          <tr><th>Supported validation</th>  <th>Default error message.</th></tr>
          <tr><td><strong>ng-required</strong></td>           <td><code>"This field is mandatory"</code></td></tr>
          <tr><td><strong>ng-pattern</strong></td>            <td><code>"This field doesn't match the pattern set"</code></td></tr>
          <tr><td><strong>ng-minlenth</strong></td>           <td><code>"This field exceeds the maximum length"</code></td></tr>
          <tr><td><strong>ng-maxlength</strong></td>          <td><code>"This field doesn't reach the minimum length"</code></td></tr>
          </table>
          Sample code in: <strong><a href="#sample01">Sample 01 - Using different angular validations</a></strong>
    </section>

    <section class="inner">
    <h2>Customize</h2>
      <h3 id="customValidations"> Adding custom Validations</h3>
       You can add your custom validation directives making use of the <strong>validationContainerServiceProvider</strong> in your <a href="https://docs.angularjs.org/api/ng/type/angular.Module/#config">app.config(configFn)</a> function: 

       <ol>
         <li>Register your custom Validation in your app</li>
         <pre class="prettyprint">myApp.directive('myCustomValidation',fcn(...){...});</pre>
         <li>Use the method <strong>addValidation()</strong> from the <code>validationContainerServiceProvider</code> to add a validation item with the
           following fields: <pre class="prettyprint">{ type: 'myCustomDirective', friendlyDescription: 'myErrorMessage' }</pre>
           <li>In the html code, add your directive to an input field</li>
           <pre class="prettyprint">
&ltinput name="myInput"
       my-custom-validation=""
       lc-validation-bubble=""
       validation-friendly-name="myInputFriendlyName"/&gt</pre>
       </ol>
       Sample code in: <strong><a href="#sample02">Sample 02 - Using a custom validation</a></strong>
    </section>

    <section class="inner">
      <h3 id="customErrorMessages"> Adding custom error messages</h3>
       You can also add your custom messages by making use of the <code>validation-custom-error-message</code> parameter:
       <ol>
         <li>Add the parameter <code>validation-custom-error-directive</code> and set it to the name of the validation you want the input field to have. Wether it's a custom or a default one.</li>
         <li>Add the parameter <code>validation-custom-error-message</code> and set it to the message you want to show when the validation is not passing.</li>

           <pre class="prettyprint">
&ltinput name="myInput"
       validation-custom-error-directive="myCustomValidation"
       validation-custom-error-message="My custom error mesage"
       validation-friendly-name="myInputFriendlyName"
       lc-validation-bubble=""/&gt
           </pre>
       </ol>
       Sample code in: <strong><a href="#sample03">Sample 03 - Adding custom error messages</a></strong>
    </section>
     <section class="inner">
      <h3 id="customTemplate"> Using a custom template</h3>
       You can also add your custom template by overwritting the <code>lcvalidationSummary-tpl.js</code> template code:
       <ol>
          <li>Create a new js file and name it whatever you want.</li>
          <li>Copy the content of lcvalidationSummary-tpl.js into your new file.</li>
          <li>Overwrite the template with your custom style and html.
            
          </li>

       </ol> 
       <img class="inner" src="images/customTemplate.PNG">
       Sample code in: <strong><a href="#sample04">Sample 04 - Using a custom template</a></strong>
    </section>
<!-- #GETTIN STARTED -->
<!-- =SAMPLE 00 -->
<h2>&nbsp</h2>
    <section class="inner">
      <h2 id="sample00">Code Samples </h2>
      <h3>Sample 00 - Validating two input fields</h3>
      <p>
        This sample moves one small step forward by adding another input field to the form.
      </p>
      <iframe style="border: 1px solid #999;width: 100%; height: 290px" 
                  src="http://embed.plnkr.co/bYYPq5?t=readme" 
                  frameborder="0"
                  allowfullscreen="allowfullscreen">
                  Loading plunk...
      </iframe>
      
      
    </section>
<!-- =SAMPLE01 -->
     <section class="inner">
      <h3 id="sample01">Sample 01 - Using different angular validations</h3>
      <p>
        You can use a set of different angular built in validations and apply them to each input in a form.
      </p>
      <iframe style="border: 1px solid #999;width: 100%; height: 500px" 
                  src="http://embed.plnkr.co/jMOCEe?t=readme" 
                  frameborder="0"
                  allowfullscreen="allowfullscreen">
                  Loading plunk...
      </iframe>
    </section>
<!-- =SAMPLE02 -->
    <section class="inner">
      <h3 id="sample02">Sample 02 - Using a custom validation</h3>
      <p>
        Here is where the fun stuff starts! Use your own angular directives to validate input fields your own way.
        In this sample we're using a home-made directive named <code>check-two-fields-match</code> that validates
        if a couple fields are matching. Usually needed when requiring e-mail addresses.
      </p>
      <iframe style="border: 1px solid #999;width: 100%; height: 320px" 
              src="http://embed.plnkr.co/AzMzQs?t=readme" 
              frameborder="0"
              allowfullscreen="allowfullscreen">
              Loading plunk...
      </iframe>
    </section>
<!-- =SAMPLE03 -->
    <section class="inner">
      <h3 id="sample03">Sample 03 - Adding custom error messages </h3>
      <p>
        Add custom error messages to your directive by using the parameter <code>validation-custom-error-message</code>
      </p>
      <iframe style="border: 1px solid #999;width: 100%; height: 450px" 
              src="http://embed.plnkr.co/XTwMuG?t=readme" 
              frameborder="0"
              allowfullscreen="allowfullscreen">
              Loading plunk...
      </iframe>
    </section>
<!-- =SAMPLE04 -->
    <section class="inner">
      <h3 id="sample04">Sample 04 - Using a custom template </h3>
      <p>
        Overwrite the lcValidationSummary. template by simply linking to a custom template file lcValidationSummary-tpl.js
      </p>
      <iframe style="border: 1px solid #999;width: 100%; height: 320px" 
              src="http://embed.plnkr.co/g9yT6K?t=readme" 
              frameborder="0"
              allowfullscreen="allowfullscreen">
              Loading plunk...
      </iframe>
    </section>

  </div>



  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p class="copyright">
        lc-validation-summary maintained by
        <a href="https://github.com/Lemoncode">Lemoncode</a>
      </p>
      <p>
        Published with
        <a href="http://pages.github.com">GitHub Pages</a>
      </p>
    </footer>
  </div>

</body>
</html>