<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="description" content="ngValidationSummary : Angular directive for providing a validation summary to angular based forms." />
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  

  <title>Ngvalidationsummary</title>
</head>

<body>

  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/Lemoncode/ngValidationSummary">View on GitHub</a>

      <h1 id="project_title">ngValidationSummary</h1>
      <h2 id="project_tagline">
        Angular directive for providing a validation summary to angular based forms.
      </h2>

      <section id="downloads">
        <a class="zip_download_link" href="https://github.com/Lemoncode/ngValidationSummary/zipball/master">Download this project as a .zip file</a>
        <a class="tar_download_link" href="https://github.com/Lemoncode/ngValidationSummary/tarball/master">Download this project as a tar.gz file</a>
      </section>
    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="getting_started" class="inner">
      <h1>
        Getting Started
      </h1>

      <p>
       <ol>
        <li>Add references to
        <a href="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js">
        AngularJS
        </a></li>
        <li>Add references to <a>ngValidationSummary</a>'s js and css files</li>
        <li>Where you declare your app module, add ngValidationSummary:</li>
        
        <pre class="prettyprint">angular.module('myApp',[ngValidationSummary]);</pre>
        <li>Wrap your html form with the directive <code>ng-validations-container</code>:</li>
          <pre class="prettyprint">
&ltdiv ng-validations-container&gt
  &ltform name="userForm"&gt
    &ltlabel for="userName"&gtName:&lt/label&gt
    &ltinput id="userName"
           type="text"
           ng-model="model.name"/&gt
  &lt/form&gt
&lt/div&gt</pre>
<li>Now, each input in the form you want to validate must contain a <code>ng-validation-bubble</code> wich will notify the non-passing validations to the <code>ng-validations-container</code>. It also must have a <a> supported validation </a>for the input (in this example we use <code>ng-required</code>) and also define a <code>validation-friendly-name</code></li>
          <pre class="prettyprint">
&ltdiv ng-validations-container&gt
  &ltform name="userForm"&gt
    &ltlabel for="userName"&gtName:&lt/label&gt
    &ltinput id="userName"
           type="text"
           ng-model="model.name"/&gt
           ng-required="true"
           ng-validation-bubble=""
           validation-friendly-name="User Name" 
  &lt/form&gt
&lt/div&gt</pre>
<li>In your html file, within the controller where you want to use, add a div element with the<code>ng-validation-summary</code> directive. This div will show the validation results to the user interface :</li>
       
        <pre class="prettyprint">&ltdiv ng-validation-summary=""&gt&lt/div&gt</pre>
       </ol>
       
       <p>
          And we're done! Now the validation summary will notify the user when the input it's empty.This is the final code and result:
          <iframe style="border: 1px solid #999;width: 100%; height: 300px"
        src="http://embed.plnkr.co/rYX9gh?t=readme" frameborder="0"
        allowfullscreen="allowfullscreen">
  Loading plunk...
</iframe>
        </p>
        <p>
        In this simple tutorial, the validation message, "this field is mandatory", is the associated message to the angular ng-required directive.
        Check out more advanced samples to see how to set your <strong> custom messages </strong> and <strong> custom directives
        </strong>.
       </p>
       <ul>
       <li><strong>Note:</strong> This Angular component has <strong>no</strong> dependecies with jQuery or Bootstrap.
       </ul>
      </p>
     
    </section>


  </div>



  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p class="copyright">
        Ngvalidationsummary maintained by
        <a href="https://github.com/Lemoncode">Lemoncode</a>
      </p>
      <p>
        Published with
        <a href="http://pages.github.com">GitHub Pages</a>
      </p>
    </footer>
  </div>

</body>
</html>