<html>

<head>
  <title>ngValidationSummary - Sample 00 Basic summary</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../build/ngValidationSummary.css" />

  <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
  <script src="../../build/ngvalidationsummary.js"></script>
  <script src="../../build/ngvalidationSummary-tpl.js"></script>
  <script src="app.js"></script>

</head>

<body ng-app="simmpleValidationApp" class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-10">
        <h2>
          ngValidationSummary
          <small>Sample 00 - Basic summary</small>
        </h2>
      </div>
      <div class="col-md-2">
        <p style="margin-top:20px;">
          <a href="../">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-circle-arrow-left"></span>
              Back to Menu
            </button>
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="voffset6">
    <div ng-controller="simmpleValidationController" ng-validations-container="">
    <div>
      <form name="userForm">
        <div class="form-group">
          <label class=" control-label" for="userName">Name:</label>
          <div class="">
            <input id="userName" 
                          name="userName" 
                          class="form-control col-md-12"
                            type="text" 
                            ng-model="name" 
                            ng-required="true"                            
                            ng-validation-bubble="" 
                            validation-friendly-name="User name"
                             />
          </div>
        </div>

        <div class="form-group">
          <label class=" control-label" for="userSurname">Surname:</label>
          <div class="">
            <input id="userSurname" 
                           name="userSurname" 
                           class="form-control col-md-12"
                           type="text" 
                           ng-model="lastname" 
                           ng-validation-bubble="" 
                           validation-friendly-name="User surname" />
                           Si se mete un campo sin validación para que se le mete el validation bubble
          </div>
        </div>

      </form>
    </div>
        <div ng-validation-summary=""></div> 
    </div>
  </div>
</body>

</html>