<html>

<head>
  <title>lcValidationSummary - Sample 03 Custom Validation Message</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../build/lcValidationSummary.css" />

  <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
  <script src="../../build/lcvalidationsummary.js"></script>
  <script src="../../build/lcvalidationSummary-tpl.js"></script>
  <script src="app.js"></script>

</head>

<body ng-app="sampleApp" class="container">
 <div class="page-header">
    <div class="row">
      <div class="col-md-10">
        <h2>
          lcValidationSummary<small> Sample 03 - Using custom Validation Messages</small>
        </h2>
      </div>
      <div class="col-md-2">
        <p style="margin-top:20px;">
          <a href="../">
            <button class="btn btn-default">
             <span class="glyphicon glyphicon-circle-arrow-left"></span>
              Back to Menu
            </button>
          </a>
        </p>
      </div>
    </div>
  </div>
<div class="voffset6">
  <div ng-controller="sampleController" lc-validations-container>
    <form name="userForm">
    
      <div class="form-group">
        
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <label for="alias">Alias: <small>String pattern with custom message (wwwwdd)</small></label>
          <input id="alias" 
                   name="alias" 
                   class="form-control col-md-12"
                   type="text" 
                   ng-model="model.alias"
                   lc-validation-bubble=""
                   ng-pattern="/(^\D{4})+(\d{2})$/"
                   validation-custom-error-directive="pattern"
                   validation-custom-error-message="Alias: An alias must be composed by 4 characters and 2 digits."
                   validation-friendly-name="Alias" />
        </div>
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 voffset3">
          <label for="password">Password: <small>Minimum length with custom message (SSSSSS)</small></label>
          <input   id="password" 
                   name="password" 
                   class="form-control col-md-12"
                   type="text" 
                   ng-model="model.password"
                   lc-validation-bubble=""
                   ng-minlength="6"
                   validation-custom-error-directive="minlength"
                   validation-custom-error-message="Password: Must be at least 6 characters long."
                   validation-friendly-name="Password" />
        </div>
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 voffset3">
          <label for="email">Email: <small>String pattern with custom message (*@gmail.com)</small></label>
          <input   type="email"
                   id="email" 
                   name="email" 
                   class="form-control col-md-12"
                   ng-model="model.email"
                   lc-validation-bubble=""
                   ng-pattern="/(^\S{1,})+(@gmail\.com)/"
                   validation-custom-error-directive="pattern"
                   validation-custom-error-message="Email: Must ve a valid Gmail account."
                   validation-friendly-name="Email" />
        </div>
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 voffset3">
          <label for="phoneNumber">Phone number: <small>String pattern with custom message (dddddddddd)</small></label>
          <input   id="phoneNumber" 
                   name="phoneNumber" 
                   class="form-control col-md-12"
                   type="text" 
                   ng-model="model.phoneNumber"
                   ng-pattern="/^\d{10}$/"
                   validation-custom-error-directive="pattern"
                   validation-custom-error-message="Phone number: Must be formed by 10 digits."
                   lc-validation-bubble=""
                   validation-friendly-name="Phone number" />
        </div>
      </div>
    </form>
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-8 col-lg-offset-2 col-lg-8" lc-validation-summary=""></div>
  </div>
</div>
</body>
</html>